/***Footer and contact information***/
footer {
  background-color:#242424;
  height: calculateTens(30);
  width: 100%;
  font-family: 'Playfair Display';
  color: white;
}

.contact{
  text-align: center;
  padding: 20px;

  @include tablet {
    @include flex-display(space-between);
    align-items: center;
    text-align: left;
    font-size: 1rem;
  }

  p {
    margin-bottom: 15px;
    line-height: 21px;
    margin-top: calculateTens(2);
  }

  a {
    color: white;

    &:hover{
      color: $color__link_hover;
    }
  }
}


.address{
  color: $color__lightgray;
}

.media-list {
  font-family: Raleway Light;
  text-transform: none;

  .media-name {
    
    display: none;
    @include tablet {
      display: inline;
    }

  }

  i {
    min-width: calculateTens(2.5);
  }

  li{
    display: inline;
    color: white;
    text-align: center;
    @include tablet{
      display: block;
      margin-top: calculateTens(2);
      text-align: left;
    }
  }
}


