/***Header***/
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;

   &:focus {
    background-color: white;
    padding:5px;
    font-size:20px;
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000; /* above all content */
  }
}

main[tabindex="-1"]:focus {
   outline: 0;
}


.header {
  @include flex-display(space-between);
  flex-flow: row wrap;
  z-index:9;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: $border__lightgray;
}

.logo {
  align-self: flex-start;
  padding: calculateTens(1);
  margin-left: calculateTens(2);
  img{
    max-width: 140px;
    height: auto;
  }
}


.cart {
  align-self: flex-end;
  flex: 0 1 auto;
  text-align: right;
  padding-bottom: calculateTens(1);
  margin-right: calculateTens(2);
  position: relative;

  img {
    max-width: calculateTens(5);
    height: auto;
  }
}

.number {
  position: absolute;
  top:-6px;
  border-radius: 100%;
  background-color: red;
  right:0;
  border: none;
  color: white;
  font-size: 0.8rem;
  width: calculateTens(2);
  height: calculateTens(2);
  justify-content: center;
  align-items:center;
  display: none;

}


.navbar {
  border-top: 1px solid  #d7d7d7;
  align-self: center;
  flex: 1 0 auto;
  padding-bottom: calculateTens(2);
  flex-basis: 60%;

  li {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;

  }
}