$tablet-width: 600px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}){
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin flex-display($justify) {
  display: flex;
  justify-content: $justify;
  
}

@function calculateTens($num){
  @return 10px * $num;
}