/***Product Categories***/
.products-type {
  display: flex;
  flex-flow: row wrap;
}

.large,
.small{
  @include flex-display(center);
  align-items: center;
  border: 4px white solid;
}

.large{
  height: 50vw;
  width: 100%;
  box-sizing: border-box;
  border-left-style: none;
  border-right-style: none;
  flex: 1 0 100%;
  @include tablet {
    max-width: 50vw;
    height: 25vw;
    flex: 2 0 50%;
  }
}

.small{
  height: 50vw;
  width: 45%;
  box-sizing: border-box;
  flex: 2 0 50%;
  @include tablet {
    max-width: 25vw;
    height: 25vw;
    flex: 1 0 25%;
  }
}

.type-name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;

  a {
    color: white;

    &:hover {
      color: $color__hover;
    }
  }
}

.mens {
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/mens-category.jpg);
  background-size: cover;
}

.trends {
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/trends-category.jpg);
  background-size: cover;
  border-left-style: none;
}

.glasses {
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/glasses-category.jpg);
  background-size: cover;
  border-right-style: none;
}

.sale{
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/sale-category.jpg);
  background-size: cover;
  border-left-style: none;
}

.bags{
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/bags-category.jpg);
  background-size: cover;
  border-right-style: none;
}

.women{
  background:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),
  url(../../assets/images/womens-category.jpg);
  background-size: cover;
}

.bags,
.mens{
  @include tablet {
    border-right-style: solid;
  }
}

.women,
.trends{
  @include tablet {
    border-left-style: solid;  
  }
}
